.Menu {
  .ActiveArea {
    visibility: hidden;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover .ActiveArea {
    visibility: visible;
  }

  &:focus .ActiveArea {
    outline: 2px solid red;
  }
}
