.Menu {
  .ActiveArea {
    visibility: hidden;
  }

  &:active {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover .ActiveArea {
    visibility: visible;
  }
}

@media print {
  .Menu,
  .ActiveArea,
  .ChartMenu {
    visibility: hidden;
  }
}
