@layer components {
  .MenuItem {
    --padding: token(--space-40);

    border: 0;
    background: none;
    font: inherit;
    font-size: token(--wds-font-size-8);
    color: var(--dimmed-6);
    font-weight: token(--wds-font-weight-semibold);
    cursor: pointer;
    inline-size: 100%;
    box-sizing: border-box;
    text-align: start;
    position: relative;
    padding: 0;

    &:hover {
      color: var(--global-foreground);
    }

    &[aria-checked='true'] {
      color: var(--global-interactive-text);
    }

    &::before {
      content: '';
      position: absolute;
      border-radius: 0;
      bottom: 0;
      left: 0;
      opacity: 60%;
      right: 0;
      top: 0;
      z-index: 0;
    }

    &:is(:hover, :focus-visible, [aria-pressed='true']):not([aria-disabled='true']) {
      outline: none;

      &::before {
        background-color: var(--dimmed-1);
      }
    }

    &[data-menu-item-dimension='small'] {
      --padding: calc(token(--space-32) + token(--space-4));

      font-size: token(--wds-font-size-7);
    }

    & > * {
      position: relative;
    }

    &[aria-disabled='true'] {
      color: var(--global-disabled-foreground);
      cursor: not-allowed;
    }

    & [data-menu-item-padding='true'][data-menu-item-has-icon='false'][data-menu-item-icon-right='false'] {
      padding-left: var(--padding);
    }

    & [data-menu-item-padding='true'][data-menu-item-has-icon='false'][data-menu-item-icon-right='true'] {
      padding-right: var(--padding);
    }
  }

  .ItemContent {
    position: relative;
  }

  .DecorationContent {
    flex-grow: 1;
  }

  .Icon {
    flex-shrink: 0;
    margin-top: 4px;
    align-self: flex-start;
    flex-grow: 0;
  }
}
