/* stylelint-disable property-no-vendor-prefix */
.GradientText {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &::selection {
    background-color: var(--dimmed-7);
    -webkit-text-fill-color: var(--dimmed-0);
    color: var(--dimmed-0);
    text-shadow: none;
  }

  &[data-gradient-text='rainbow'] {
    background-image: linear-gradient(92deg, #6a68d9 10%, #da6cae 60%, #f5a957 100%);
  }

  &[data-gradient-text='indigo'] {
    background-image: linear-gradient(92deg, #9a9adf 0%, #4e4bd2 100%);
  }

  &[data-gradient-text='mint'] {
    background-image: linear-gradient(92deg, #47d1b0 0%, #1f7a64 100%);
  }

  &[data-gradient-text='dipsy'] {
    background-image: linear-gradient(92deg, #98c44f 0%, #5d8221 100%);
  }

  &[data-gradient-text='salmon'] {
    background-image: linear-gradient(92deg, #e69074 0%, #bf4c27 100%);
  }

  &[data-gradient-text='blue'] {
    background-image: linear-gradient(92deg, #70b5e8 0%, #2666b8 100%);
  }

  &[data-gradient-text='yellow'] {
    background-image: linear-gradient(92deg, #f5a957 0%, #e07452 104.37%);
  }
}
