@import '../../core/utils/media.css';

.Text {
  min-block-size: 0.01vh;
  font-size: var(--fs-max);
  max-inline-size: var(--max-w, initial);
  text-align: var(--t-align);

  /* Colors */

  &[data-text-dimmed='5'] {
    color: var(--dimmed-5);
  }

  &[data-text-dimmed='6'] {
    color: var(--dimmed-6);
  }

  &[data-text-dimmed='7'] {
    color: var(--dimmed-7);
  }

  &[data-text-sentiment='positive'] {
    color: var(--highlight-green-foreground);
  }

  &[data-text-sentiment='informative'] {
    color: var(--highlight-blue-foreground);
  }

  &[data-text-sentiment='danger'] {
    color: var(--highlight-red-foreground);
  }

  &[data-text-sentiment='warning'] {
    color: var(--highlight-yellow-foreground);
  }

  /* Sizes */

  &[data-text-size='14'] {
    --fs-min: token(--font-size-14);
    --fs-max: token(--font-size-14);
  }

  &[data-text-size='16'] {
    --fs-min: token(--font-size-14);
    --fs-max: token(--font-size-16);
  }

  &[data-text-size='18'] {
    --fs-min: token(--font-size-16);
    --fs-max: token(--font-size-18);
  }

  &[data-text-size='22'] {
    --fs-min: token(--font-size-18);
    --fs-max: token(--font-size-22);
  }

  &[data-text-size='28'] {
    --fs-min: token(--font-size-22);
    --fs-max: token(--font-size-28);
  }

  /* Weights */

  &[data-text-weight='thin'] {
    font-weight: 100;
  }

  &[data-text-weight='bold'] {
    font-weight: 600;
  }

  /* Responsiveness */
  &[data-text-responsive='true'] {
    font-size: var(--fs-min);

    @media (--from-small) {
      font-size: var(--fs-max);
    }
  }

  /* Line Height */

  &[data-text-line-height='none'] {
    line-height: 1;
  }

  &[data-text-line-height='small'] {
    line-height: token(--font-lh-small);
  }

  &[data-text-line-height='large'] {
    line-height: token(--font-lh-standard);
  }
}
