@import '../../core/utils/media.css';

@layer components {
  .Text {
    font-size: var(--fs-extra-small);
    font-weight: var(--fw-extra-small);
    line-height: var(--lh-extra-small);
    letter-spacing: token(--wds-letter-spacing-0);
    max-width: var(--max-width);
    min-block-size: 0.01vh;
    text-align: var(--t-align);
    word-break: break-word;

    @media (--from-small) {
      font-size: var(--fs-small);
      font-weight: var(--fw-small);
      line-height: var(--lh-small);
    }
    @media (--from-medium) {
      font-size: var(--fs-medium);
      font-weight: var(--fw-medium);
      line-height: var(--lh-medium);
    }
    @media (--from-large) {
      font-size: var(--fs-large);
      font-weight: var(--fw-large);
      line-height: var(--lh-large);
    }

    &[data-text-decorator='true'] {
      display: inline-flex;
      flex-flow: row wrap;
      align-items: center;
      gap: token(--space-8);
    }

    &[data-text-prevent-break-word='true'] {
      word-break: unset;
    }

    /* Responsiveness */

    &[data-text-prevent-responsive='true'] {
      font-size: var(--fs-large);
      font-weight: var(--fw-large);
      line-height: var(--lh-large);
    }


    /* Variant Display */

    &[data-text-variant='display-1'] {
      color: var(--dimmed-9);

      --fs-large: token(--wds-font-size-96);
      --fw-large: token(--wds-font-weight-heavy);
      --lh-large: token(--wds-line-height-108);
      --fs-medium: token(--wds-font-size-68);
      --fw-medium: token(--wds-font-weight-heavy);
      --lh-medium: token(--wds-line-height-80);
      --fs-small: token(--wds-font-size-56);
      --fw-small: token(--wds-font-weight-heavy);
      --lh-small: token(--wds-line-height-64);
      --fs-extra-small: token(--wds-font-size-40);
      --fw-extra-small: token(--wds-font-weight-heavy);
      --lh-extra-small: token(--wds-line-height-48);
    }

    &[data-text-variant='display-2'] {
      color: var(--dimmed-9);

      --fs-large: token(--wds-font-size-80);
      --fw-large: token(--wds-font-weight-heavy);
      --lh-large: token(--wds-line-height-96);
      --fs-medium: token(--wds-font-size-68);
      --fw-medium: token(--wds-font-weight-heavy);
      --lh-medium: token(--wds-line-height-80);
      --fs-small: token(--wds-font-size-56);
      --fw-small: token(--wds-font-weight-heavy);
      --lh-small: token(--wds-line-height-64);
      --fs-extra-small: token(--wds-font-size-40);
      --fw-extra-small: token(--wds-font-weight-heavy);
      --lh-extra-small: token(--wds-line-height-48);
    }

    &[data-text-variant='display-3'] {
      color: var(--dimmed-9);

      --fs-large: token(--wds-font-size-68);
      --fw-large: token(--wds-font-weight-heavy);
      --lh-large: token(--wds-line-height-80);
      --fs-medium: token(--wds-font-size-56);
      --fw-medium: token(--wds-font-weight-heavy);
      --lh-medium: token(--wds-line-height-64);
      --fs-small: token(--wds-font-size-48);
      --fw-small: token(--wds-font-weight-heavy);
      --lh-small: token(--wds-line-height-56);
      --fs-extra-small: token(--wds-font-size-40);
      --fw-extra-small: token(--wds-font-weight-heavy);
      --lh-extra-small: token(--wds-line-height-48);
    }

    &[data-text-variant='display-4'] {
      color: var(--dimmed-9);

      --fs-large: token(--wds-font-size-56);
      --fw-large: token(--wds-font-weight-heavy);
      --lh-large: token(--wds-line-height-64);
      --fs-medium: token(--wds-font-size-56);
      --fw-medium: token(--wds-font-weight-heavy);
      --lh-medium: token(--wds-line-height-64);
      --fs-small: token(--wds-font-size-48);
      --fw-small: token(--wds-font-weight-heavy);
      --lh-small: token(--wds-line-height-56);
      --fs-extra-small: token(--wds-font-size-40);
      --fw-extra-small: token(--wds-font-weight-heavy);
      --lh-extra-small: token(--wds-line-height-48);
    }

    /* Variant Heading */

    &[data-text-variant='heading-1'] {
      color: var(--dimmed-9);

      --fs-large: token(--wds-font-size-48);
      --fw-large: token(--wds-font-weight-heavy);
      --lh-large: token(--wds-line-height-56);
      --fs-medium: token(--wds-font-size-48);
      --fw-medium: token(--wds-font-weight-heavy);
      --lh-medium: token(--wds-line-height-56);
      --fs-small: token(--wds-font-size-48);
      --fw-small: token(--wds-font-weight-heavy);
      --lh-small: token(--wds-line-height-56);
      --fs-extra-small: token(--wds-font-size-40);
      --fw-extra-small: token(--wds-font-weight-heavy);
      --lh-extra-small: token(--wds-line-height-48);
    }

    &[data-text-variant='heading-2'] {
      color: var(--dimmed-9);

      --fs-large: token(--wds-font-size-40);
      --fw-large: token(--wds-font-weight-heavy);
      --lh-large: token(--wds-line-height-48);
      --fs-medium: token(--wds-font-size-40);
      --fw-medium: token(--wds-font-weight-heavy);
      --lh-medium: token(--wds-line-height-48);
      --fs-small: token(--wds-font-size-32);
      --fw-small: token(--wds-font-weight-bold);
      --lh-small: token(--wds-line-height-40);
      --fs-extra-small: token(--wds-font-size-32);
      --fw-extra-small: token(--wds-font-weight-bold);
      --lh-extra-small: token(--wds-line-height-40);
    }

    &[data-text-variant='heading-3'] {
      color: var(--dimmed-9);

      --fs-large: token(--wds-font-size-32);
      --fw-large: token(--wds-font-weight-bold);
      --lh-large: token(--wds-line-height-40);
      --fs-medium: token(--wds-font-size-32);
      --fw-medium: token(--wds-font-weight-bold);
      --lh-medium: token(--wds-line-height-40);
      --fs-small: token(--wds-font-size-32);
      --fw-small: token(--wds-font-weight-bold);
      --lh-small: token(--wds-line-height-40);
      --fs-extra-small: token(--wds-font-size-28);
      --fw-extra-small: token(--wds-font-weight-bold);
      --lh-extra-small: token(--wds-line-height-36);
    }

    &[data-text-variant='heading-4'] {
      color: var(--dimmed-9);

      --fs-large: token(--wds-font-size-28);
      --fw-large: token(--wds-font-weight-bold);
      --lh-large: token(--wds-line-height-36);
      --fs-medium: token(--wds-font-size-28);
      --fw-medium: token(--wds-font-weight-bold);
      --lh-medium: token(--wds-line-height-36);
      --fs-small: token(--wds-font-size-28);
      --fw-small: token(--wds-font-weight-bold);
      --lh-small: token(--wds-line-height-36);
      --fs-extra-small: token(--wds-font-size-24);
      --fw-extra-small: token(--wds-font-weight-semibold);
      --lh-extra-small: token(--wds-line-height-32);
    }

    &[data-text-variant='heading-5'] {
      color: var(--dimmed-9);

      --fs-large: token(--wds-font-size-24);
      --fw-large: token(--wds-font-weight-semibold);
      --lh-large: token(--wds-line-height-32);
      --fs-medium: token(--wds-font-size-24);
      --fw-medium: token(--wds-font-weight-semibold);
      --lh-medium: token(--wds-line-height-32);
      --fs-small: token(--wds-font-size-20);
      --fw-small: token(--wds-font-weight-semibold);
      --lh-small: token(--wds-line-height-28);
      --fs-extra-small: token(--wds-font-size-20);
      --fw-extra-small: token(--wds-font-weight-semibold);
      --lh-extra-small: token(--wds-line-height-28);
    }

    &[data-text-variant='heading-6'] {
      color: var(--dimmed-9);

      --fs-large: token(--wds-font-size-20);
      --fw-large: token(--wds-font-weight-semibold);
      --lh-large: token(--wds-line-height-28);
      --fs-medium: token(--wds-font-size-20);
      --fw-medium: token(--wds-font-weight-semibold);
      --lh-medium: token(--wds-line-height-28);
      --fs-small: token(--wds-font-size-20);
      --fw-small: token(--wds-font-weight-semibold);
      --lh-small: token(--wds-line-height-28);
      --fs-extra-small: token(--wds-font-size-20);
      --fw-extra-small: token(--wds-font-weight-semibold);
      --lh-extra-small: token(--wds-line-height-28);
    }


    /* Variant Subtitle */

    &[data-text-variant='subtitle-1'] {
      color: var(--dimmed-7);
      letter-spacing: token(--wds-letter-spacing-16);

      --fs-large: token(--wds-font-size-16);
      --fw-large: token(--wds-font-weight-semibold);
      --lh-large: token(--wds-line-height-24);
      --fs-medium: token(--wds-font-size-16);
      --fw-medium: token(--wds-font-weight-semibold);
      --lh-medium: token(--wds-line-height-24);
      --fs-small: token(--wds-font-size-16);
      --fw-small: token(--wds-font-weight-semibold);
      --lh-small: token(--wds-line-height-24);
      --fs-extra-small: token(--wds-font-size-16);
      --fw-extra-small: token(--wds-font-weight-semibold);
      --lh-extra-small: token(--wds-line-height-24);
    }

    &[data-text-variant='subtitle-2'] {
      color: var(--dimmed-7);
      letter-spacing: token(--wds-letter-spacing-24);

      --fs-large: token(--wds-font-size-14);
      --fw-large: token(--wds-font-weight-semibold);
      --lh-large: token(--wds-line-height-20);
      --fs-medium: token(--wds-font-size-14);
      --fw-medium: token(--wds-font-weight-semibold);
      --lh-medium: token(--wds-line-height-20);
      --fs-small: token(--wds-font-size-14);
      --fw-small: token(--wds-font-weight-semibold);
      --lh-small: token(--wds-line-height-20);
      --fs-extra-small: token(--wds-font-size-14);
      --fw-extra-small: token(--wds-font-weight-semibold);
      --lh-extra-small: token(--wds-line-height-20);
    }


    /* Variant Body */

    &[data-text-variant='body-1'] {
      color: var(--dimmed-7);
      letter-spacing: token(--wds-letter-spacing-16);

      --fs-large: token(--wds-font-size-16);
      --fw-large: token(--wds-font-weight-regular);
      --lh-large: token(--wds-line-height-24);
      --fs-medium: token(--wds-font-size-16);
      --fw-medium: token(--wds-font-weight-regular);
      --lh-medium: token(--wds-line-height-24);
      --fs-small: token(--wds-font-size-16);
      --fw-small: token(--wds-font-weight-regular);
      --lh-small: token(--wds-line-height-24);
      --fs-extra-small: token(--wds-font-size-16);
      --fw-extra-small: token(--wds-font-weight-regular);
      --lh-extra-small: token(--wds-line-height-24);
    }

    &[data-text-variant='body-2'] {
      color: var(--dimmed-7);
      letter-spacing: token(--wds-letter-spacing-14);

      --fs-large: token(--wds-font-size-14);
      --fw-large: token(--wds-font-weight-regular);
      --lh-large: token(--wds-line-height-20);
      --fs-medium: token(--wds-font-size-14);
      --fw-medium: token(--wds-font-weight-regular);
      --lh-medium: token(--wds-line-height-20);
      --fs-small: token(--wds-font-size-14);
      --fw-small: token(--wds-font-weight-regular);
      --lh-small: token(--wds-line-height-20);
      --fs-extra-small: token(--wds-font-size-14);
      --fw-extra-small: token(--wds-font-weight-regular);
      --lh-extra-small: token(--wds-line-height-20);
    }

    &[data-text-variant='body-3'] {
      color: var(--dimmed-7);
      letter-spacing: token(--wds-letter-spacing-32);

      --fs-large: token(--wds-font-size-12);
      --fw-large: token(--wds-font-weight-regular);
      --lh-large: token(--wds-line-height-16);
      --fs-medium: token(--wds-font-size-12);
      --fw-medium: token(--wds-font-weight-regular);
      --lh-medium: token(--wds-line-height-16);
      --fs-small: token(--wds-font-size-12);
      --fw-small: token(--wds-font-weight-regular);
      --lh-small: token(--wds-line-height-16);
      --fs-extra-small: token(--wds-font-size-12);
      --fw-extra-small: token(--wds-font-weight-regular);
      --lh-extra-small: token(--wds-line-height-16);
    }

    /* Colors */

    &[data-text-color='positive'] {
      color: var(--highlight-green-foreground);
    }

    &[data-text-color='informative'] {
      color: var(--highlight-blue-foreground);
    }

    &[data-text-color='danger'] {
      color: var(--highlight-red-foreground);
    }

    &[data-text-color='warning'] {
      color: var(--highlight-yellow-foreground);
    }

    &[data-text-color='neutral'] {
      color: var(--dimmed-7);
    }

    &[data-text-color='dark'] {
      color: var(--dimmed-9);
    }

    /* Truncate */

    &[data-text-truncate='true'] {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: inherit;
    }
  }
}
@layer overrides {
  .Anchor {
    align-items: center;
    background-image: none;
    color: inherit;
    display: inline-flex;
    justify-content: center;
    margin-left: 1rem;
    visibility: hidden;

    @nest .Text:hover &, .Text:focus-within & {
      visibility: visible;
    }
  }
}
