@import '../../../core/utils/media.css';

@layer components {
  .Content {
    background-color: var(--global-background);
    overscroll-behavior: contain;
    inline-size: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-block-size: 95vh;
    border-radius: token(--radius-16) token(--radius-16) 0 0;
    justify-self: center;
    align-self: end;

    @media (--from-small) {
      max-inline-size: 600px;
      max-block-size: 80vh;
      border-radius: token(--radius-8);
      justify-self: center;
      align-self: center;
    }
  }

  .Header {
    position: sticky;
    top: 0;
    background-color: inherit;
    border-bottom: 1px solid var(--dimmed-1);
    padding:
      token(--space-16)
      token(--space-80)
      token(--space-16)
      token(--space-24);
  }
}
@layer overrides {
  .CloseButton {
    position: absolute;
    top: token(--space-8);
    right: token(--space-8);
  }
}
