.Tile {
  display: block;
  min-block-size: token(--space-200);
  position: relative;
  color: inherit;
  height: 100%;
}

.IconBullet {
  block-size: token(--space-40);
  inline-size: token(--space-40);
  position: relative;
  background-color: var(--dimmed-2);
  display: grid;
  place-items: center;
  place-content: center;
  border-radius: token(--radius-4);
}

.Title {
  margin-top: token(--space-8);
}
