.IconPreview {
  --dots-size: 2px;
  --dots-gap: 12px;
  --dots-color: var(--dimmed-2);
  --computed-dot-size: calc(var(--dots-size) / 2);

  display: block;
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  max-width: token(--space-160);
  max-height: token(--space-160);
  background: url('/grid.svg') no-repeat;
  background-size: cover;

  & > svg {
    position: absolute;
    width: token(--space-88);
    height: token(--space-88);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.Code {
  border-radius: 0;
  margin: 0;
}
