{
  "extends": ["@wonderflow/eslint-config", "plugin:json/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "extraFileExtensions": [".mjs"],
    "project": "./tsconfig.eslint.json"
  }
}
