{
  "extends": [
    "@lasalefamine/eslint-config",
    "@lasalefamine/eslint-config/hooks",
    "@lasalefamine/eslint-config/a11y",
    "plugin:@next/next/recommended",
    "plugin:json/recommended"
  ],
  "ignorePatterns": ["next-env.d.ts", "*.d.ts", "apps/docs/src/generated/*.ts"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "extraFileExtensions": [".mjs", ".cjs"],
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "@next/next/no-img-element": "off",
    "@typescript-eslint/naming-convention": "warn",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-return": "off",
    "import/no-extraneous-dependencies": "off",
    "@typescript-eslint/no-redundant-type-constituents": "off",
    "@next/next/no-html-link-for-pages": ["error", "apps/docs/pages"],
    "react/require-default-props": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/media-has-caption": "off"
  }
}
