{
  "extends": [
    "@wonderflow/stylelint-config"
  ],
  "rules": {
    "designtokens/check": [
      true,
      "@wonderflow/tokens/platforms/web/tokens.json"
    ]
  },
  "ignoreFiles": [
    "!**/*.css",
    "**/*.jsx",
    "**/*.tsx",
    "**/*.ts",
    "node_modules"
  ]
}
