@import '../../core/utils/vibrancy.css';

@layer components {
  .Select {
    appearance: none;
    position: relative;
    padding: 0;

    &[data-select-dimension='small'] {
      --field-height: token(--space-24);
      --field-padding: 0.33rem;
      --font-size: token(--wds-font-size-14);
    }

    &[data-select-dimension='regular'] {
      --field-height: token(--space-40);
      --field-padding: token(--space-16);
      --font-size: token(--wds-font-size-16);
    }

    &[data-select-dimension='big'] {
      --field-height: token(--space-48);
      --field-padding: token(--space-16);
      --font-size: token(--wds-font-size-16);
    }
  }

  .FieldContainer {
    position: relative;
    color: var(--global-vibrancy-foreground);
    inline-size: 100%;

    @nest .Select[aria-disabled='true'] & {
      color: var(--global-disabled-foreground);
    }
  }

  .Field {

    @mixin vibrancy;

    margin: 0;
    border: 0;
    text-overflow: ellipsis;
    font-size: var(--font-size);
    border-radius: token(--radius-4);
    font-family: inherit;
    appearance: none;
    display: block;
    min-inline-size: 100%;
    box-sizing: border-box;
    overflow: hidden;
    color: inherit;
    block-size: var(--field-height);
    padding:
      0
      calc(var(--field-padding) * 3.5)
      0
      var(--field-padding);
    background:
      linear-gradient(
        to bottom,
        var(--global-vibrancy-background),
        var(--global-vibrancy-background)
      );

    &:disabled {
      cursor: not-allowed;
      color: var(--global-disabled-foreground);
      background:
        linear-gradient(
          to bottom,
          var(--global-disabled-background),
          var(--global-disabled-background)
        );
    }

    & option {
      color: black;
    }

    & optgroup {
      color: initial;
    }

    &[multiple] {
      block-size: auto;
      padding: token(--space-8) token(--space-16) token(--space-8) token(--space-16);
      overflow: auto;

      & option {
        color: currentcolor;
        padding: calc(var(--field-padding) / 2) var(--field-padding);
      }

      & option:checked {
        color: var(--global-background);
        background:
          hsl(token(--color-primary-30))
          linear-gradient(to bottom, hsl(token(--color-primary-30)) 0%, hsl(token(--color-primary-30)) 100%);
        background-color: hsl(token(--color-primary-30));
      }

      & optgroup {
        color: currentcolor;
        margin: 0 0 1rem;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
      }
    }
  }

  .Icon {
    border-radius: token(--radius-4);
    pointer-events: none;
    position: absolute;
    top: calc(var(--field-height) / 2);
    transform: translateY(-50%);
    right: calc(var(--field-padding) - calc(var(--field-padding) / 3));
  }

  .Label {
    &[aria-disabled='true'] {
      color: var(--global-disabled-foreground);
      cursor: not-allowed;
    }
  }
}
