.Table {
  position: relative;
  width: 100%;
  display: table;
  overflow: auto hidden;
  min-height: 0;
}

.TableElement {
  width: 100%;
  border-collapse: collapse;
}

.THead {
  border-bottom: 3px solid var(--dimmed-2);

  & th {
    padding: env(--space-4) env(--space-8) env(--space-8);
  }
}

.Row {

  @nest .TableElement[data-table-stripes='true'] &:nth-child(even) {
    background-color: var(--dimmed-0);
  }
  @nest .TableElement[data-table-separators='true'] & + & {
    border-top: 1px solid var(--dimmed-1);
  }
}

.Cell {
  margin: 0;
  width: 1%;
  text-align: start;
  display: table-cell;
  padding: env(--space-8);
  font-variant-numeric: tabular-nums;

  &[data-table-cell-collapsed='true'] {
    width: 1e-10%;
  }
}

.HeadCellIcon {
  margin-inline-start: env(--space-8);
}
