.Table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.THead {
  display: table-header-group;
  border-bottom: 3px solid var(--dimmed-2);
}

.TBody {
  display: table-row-group;
}

.Row {
  display: table-row;
}


.Cell {
  display: table-cell;
  padding: env(--space-8);
}
