@import '../../core/utils/vibrancy.css';

.Table {
  position: relative;
  width: 100%;
  overflow: auto;
  min-height: 0;
  max-height: var(--table-height);
  background: var(--table-background);
  z-index: 0;
}

.TableElement {
  width: 100%;
  border-collapse: collapse;
  font-size: env(--font-size-16);
}

.THead {
  box-shadow: inset 0 -3px 0 var(--dimmed-2);
  background: var(--table-background);
  position: sticky;
  top: 0;
  z-index: 1;

  /* stylelint-disable number-max-precision */

  @media not all and (min-resolution: 0.001dpcm) {

    @supports (-webkit-appearance:none) and (stroke-color:transparent) {
      box-shadow: none;
      border-bottom: 3px solid var(--dimmed-2);
    }
  }


  & th {
    padding-top: env(--space-16);
    padding-bottom: env(--space-16);
  }
}

.Row {
  height: env(--space-48);

  & + & {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }

  @nest .TableElement[data-table-stripes='true'] &:nth-child(even):not([data-table-row-highlight='true']) {
    background-color: var(--dimmed-0);
  }
  @nest .TableElement[data-table-separators='true'] & + & {
    border-color: var(--dimmed-1);
  }

  &[data-table-row-highlight='true'] {
    background-color: var(--highlight-blue-background);
    color: var(--highlight-blue-foreground);

    & + & {
      border-color: hsl(env(--color-primary-40) / 30%);
    }
  }
}

.Cell {
  margin: 0;
  width: 1%;
  text-align: var(--text-align, 'start');
  display: table-cell;
  padding: calc(env(--space-8) + env(--space-4)) env(--space-8);
  font-variant-numeric: tabular-nums;
  line-height: env(--font-lh-small);

  &[data-table-cell-collapsed='true'] {
    width: 1e-10%;
  }
}

.HeadCellIcon {
  margin-inline-start: env(--space-8);
}

.Checkbox {
  display: block;
}

.Header {
  min-block-size: env(--space-56);
}

.Toast {

  @mixin vibrancy;

  background-color: var(--global-vibrancy-background);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  border-radius: env(--radius-8);
  min-block-size: env(--space-56);
}
