@layer components {
  .Media {
    width: 100%;
    height: 100%;
  }

  .Image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0.25rem;
  }
}
