@layer components {
  .Pagination {
    align-items: center;
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: token(--wds-font-size-14);

    & > li > a {
      border-radius: token(--radius-4);
      line-height: token(--wds-line-height-16);
      padding: 0 token(--space-8);
      cursor: pointer;
      font-weight: token(--wds-wds-font-weight-bold);
      user-select: none;
      color: var(--dimmed-5);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: token(--space-32);

      &[aria-current='page'] {
        background-color: var(--cta-default);
        color: var(--cta-foreground);
      }

      &[aria-disabled='true'] {
        opacity: 50%;
      }
    }
  }
}
