.Swatch {
  position: relative;
  border-radius: token(--radius-16);
  background: var(--global-background);
  overflow: hidden;
}


.Color {
  block-size: 90px;
  min-block-size: 90px;
  max-block-size: 90px;
  overflow: hidden;
  color: hsl(token(--color-support-white));
  border-radius: token(--radius-8);
  background:
    var(--dimmed-0)
    repeating-conic-gradient(
      var(--dimmed-1) 0% 25%,
      transparent 0% 50%
    )
    50% / 23.5px 23.5px;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--background-color);
    box-shadow: inset 0 0 0 2px rgb(0 0 0 / 5%);
    inset: 0;
  }


  & b {
    background: inherit;
    background-clip: inherit;
    background-clip: text;
    color: transparent;
    z-index: 1;
    filter: invert(1) grayscale(1) contrast(100);
  }
}

.Values {
  font-family: monospace;
}
