@layer components {
  .Card {
    background-color: var(--global-background);
    border-radius: token(--radius-8);
    overflow: hidden;
    padding: 0;
    position: relative;

    &[data-card-bordered='true'] {
      border: solid 1px var(--dimmed-1);
    }

    &[data-card-clickable='true'] {
      cursor: pointer;
    }
  }


  .Row {
    position: relative;
    height: 100%;
  }

  .Content {
    flex-grow: 1;
  }

  .OverlayActions {
    background-color: var(--global-background);
    height: 100%;
    opacity: 0%;
    position: absolute;
    transition: opacity token(--duration-300);
    width: 100%;
    z-index: 1;

    &:hover {
      opacity: 100%;
    }
  }

  .ColoredCard {
    width: 100%;
    height: 125px;
    max-height: 125px;
  }
}
