@import '../../core/utils/media.css';

@layer components {
  .Container {
    padding: 0 token(--space-16);
    margin: 0 auto;
    inline-size: 100%;

    &[data-container-dimension='small'] {
      max-inline-size: token(--container-small);

      @media (--from-small) {
        padding: 0 token(--space-32);
      }
    }

    &[data-container-dimension='medium'] {
      max-inline-size: token(--container-medium);

      @media (--from-small) {
        padding: 0 token(--space-32);
      }
    }

    &[data-container-dimension='large'] {
      max-inline-size: token(--container-large);

      @media (--from-small) {
        padding: 0 token(--space-32);
      }
    }

    &[data-container-dimension='full'] {
      max-inline-size: 100%;

      @media (--from-small) {
        padding: 0 token(--space-32);
      }
    }

    &[data-container-dimension='auto'] {
      max-inline-size: 432px;
      padding: 0 token(--space-24);

      @media (--from-small) {
        max-inline-size: 712px;
        padding: 0 token(--space-24);
      }
      @media (--from-medium) {
        max-inline-size: 912px;
        padding: 0 token(--space-24);
      }
      @media (--from-large) {
        max-inline-size: 1152px;
        padding: 0 token(--space-24);
      }
      @media (--from-extra-large) {
        max-inline-size: 1440px;
        padding: 0 token(--space-24);
      }
    }

    &[data-container-padding='false'] {
      padding: 0;
    }
  }
}
