@import '../../core/utils/media.css';

.Container {
  padding: 0 env(--space-16);
  margin: 0 auto;
  inline-size: 100%;

  &[data-container-dimension='medium'] {
    max-inline-size: env(--container-medium);

    @media (--from-small) {
      padding: 0 env(--space-32);
    }
  }

  &[data-container-dimension='large'] {
    max-inline-size: env(--container-large);

    @media (--from-small) {
      padding: 0 env(--space-32);
    }
  }

  &[data-container-dimension='full'] {
    max-inline-size: 100%;

    @media (--from-small) {
      padding: 0 env(--space-32);
    }
  }

  &[data-container-padding='false'] {
    padding: 0;
  }
}
