@import '@wonderflow/react-components/core/utils/vibrancy.css';
@import '@wonderflow/react-components/core/utils/media.css';

.SearchSymbol {
  position: relative;
  z-index: 0;
}

.Tools {

  @mixin vibrancy;

  position: sticky;
  top: token(--space-56);
  margin: 0 calc(token(--space-16) * -1);
  z-index: 1;

  @supports not (backdrop-filter: blur(0)) {
    background-color: var(--global-background);
  }

  @media (--from-medium) {
    margin: unset;
    top: token(--space-96);
    max-width: 30ch;
  }
}

.RadioButton {
  border-radius: token(--radius-8);
  background: var(--dimmed-0);
  position: relative;

  &[data-checked='true'] {
    color: var(--layout-color-fg);
    border-color: var(--layout-color-bg);
    background: var(--layout-color-bg);
  }

  &:focus-within {
    outline: 5px auto Highlight;
    outline: 5px auto -webkit-focus-ring-color;
  }
}

.Input {
  position: absolute;
  inset: 0;
  opacity: 0%;
}

.SymbolTile {
  --bg: var(--dimmed-0);

  position: relative;
  background: var(--bg);
  padding: token(--space-16) token(--space-24);
  aspect-ratio: 1/1;
  text-align: center;
  width: 100%;

  &[data-icon-tile-copied='true'] {
    animation: positive-feedback 2s 1;
  }

  &:hover,
  &:focus-visible {
    --bg: var(--global-vibrancy-background);
  }
}

@keyframes positive-feedback {
  0% {
    background-color: var(--layout-color-bg);
    color: var(--layout-color-fg);
    box-shadow: inset 0 0 0 2px var(--layout-color-fg);
  }

  100% {
    background-color: var(--bg);
    color: revert;
    box-shadow: inset 0 0 0 2px transparent;
  }
}
