@layer components {
  .Menu {
    list-style-type: none;
    background-color: var(--global-background);
    border: 1px solid var(--dimmed-1);
    border-radius: token(--radius-8);
    overflow: hidden;
    position: relative;

    & hr {
      margin: 0 token(--space-8);
    }

    &[data-menu-should-scroll='true'] {
      max-height: var(--max-height);
      overflow: auto;
      overscroll-behavior: contain;
      -webkit-overflow-scrolling: touch;
    }
  }
}
