.Wrapper {
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px #ccc;
  display: flex;
  height: auto;
  justify-content: center;
  overflow: hidden;
  position: relative;
  resize: both;
  width: 100%;

  &[data-theme='dark'] {
    box-shadow: none;
  }
}

