.Wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px dashed red;
  overflow: auto;
  display: flex;
  resize: both;
}

.Container {
  font-family: system-ui, sans-serif;
}

.Axis {

  /* font-family: system-ui, sans-serif; */
}
