.Masonry {
  display: flex;
  margin-left: calc(var(--gutter) * -1);
  width: auto;
}

.Column {
  padding-left: var(--gutter);
  background-clip: padding-box;

  & > * {
    margin-bottom: var(--gutter);
  }
}
