@import '../../../core/utils/vibrancy.css';

@layer components {
  .Card {
    background-color: var(--global-background);
    border-radius: token(--radius-8);
    overflow: hidden;
    padding: 0;
    position: relative;

    &[data-card-highlight-hover='true']:is(:hover, :focus-visible) {
      background-color: var(--dimmed-0);
    }

    &[data-card-bordered='true'] {
      border: solid 1px var(--dimmed-1);
    }
  }

  .Row {
    height: 100%;
  }
}
