@layer core {
  html {
    font-size: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    line-height: token(--wds-line-height-24);
    background-color: var(--global-background);
  }

  *,
  *::before,
  *::after {
    margin: 0;
    box-sizing: inherit;
    -webkit-tap-highlight-color: hsl(token(--color-support-brand) / 20%);
    outline-offset: 5px;
    transition: outline-offset 200ms ease-out;
  }

  *:focus-visible {
    outline: 5px auto Highlight;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: 2px;
  }

  body {
    font-size: token(--wds-font-size-16);
    color: var(--global-foreground);
    font-family: token(--wds-font-family-sans);
    font-feature-settings: 'calt' off;
    scroll-padding: token(--space-80);
    margin: 0;
  }

  ::selection {
    background-color: var(--dimmed-7);
    color: var(--dimmed-0);
    text-shadow: none;
  }

  img {
    display: block;
    inline-size: 100%;
    max-inline-size: 100%;
  }

  svg:not([fill]) {
    fill: currentcolor;
  }

  fieldset {
    border: 0;
    padding: 0;
  }
}
