@import './utils/elevation.css';

[data-elevation] {
  --shadow-color: 0deg 0% 0%;
}

[data-elevation='0'],
[data-elevation-hover='0']:hover {
  transition: box-shadow token(--duration-100) token(--easing-standard);
  box-shadow: none;
}

[data-elevation='1'],
[data-elevation-hover='1']:hover {
  transition: box-shadow token(--duration-100) token(--easing-standard);

  @mixin elevation-1 var(--shadow-color);
}

[data-elevation='2'],
[data-elevation-hover='2']:hover {
  transition: box-shadow token(--duration-100) token(--easing-standard);

  @mixin elevation-2 var(--shadow-color);
}

[data-elevation='3'],
[data-elevation-hover='3']:hover {
  transition: box-shadow token(--duration-100) token(--easing-standard);

  @mixin elevation-3 var(--shadow-color);
}

[data-elevation='4'],
[data-elevation-hover='4']:hover {
  transition: box-shadow token(--duration-100) token(--easing-standard);

  @mixin elevation-4 var(--shadow-color);
}
