@layer components {
  .Snackbar {
    display: block;
    padding: token(--space-8) token(--space-16);
    background: var(--global-background);
    border-radius: token(--radius-8);
    overflow: hidden;
    border: 1px solid var(--global-vibrancy-background);

    & p {
      font-size: token(--font-size-16);
    }

    &[data-snackbar-kind='neutral'] {
      --heading-foreground: var(--highlight-gray-foreground);
      --snackbar-bg: var(--highlight-gray-background);
      --snackbar-fg: var(--highlight-gray-foreground);
    }

    &[data-snackbar-kind='positive'] {
      --heading-foreground: var(--highlight-green-foreground);
      --snackbar-bg: var(--highlight-green-background);
      --snackbar-fg: var(--highlight-green-foreground);
    }

    &[data-snackbar-kind='warning'] {
      --heading-foreground: var(--highlight-yellow-foreground);
      --snackbar-bg: var(--highlight-yellow-background);
      --snackbar-fg: var(--highlight-yellow-foreground);
    }

    &[data-snackbar-kind='info'] {
      --heading-foreground: var(--highlight-blue-foreground);
      --snackbar-bg: var(--highlight-blue-background);
      --snackbar-fg: var(--highlight-blue-foreground);
    }

    &[data-snackbar-kind='danger'] {
      --heading-foreground: var(--highlight-red-foreground);
      --snackbar-bg: var(--highlight-red-background);
      --snackbar-fg: var(--highlight-red-foreground);
    }
  }

  .Icon {
    flex-shrink: 0;
    flex-grow: 0;
    width: token(--space-16);
    max-width: token(--space-16);
    height: token(--space-16);
    color: var(--snackbar-fg);
    margin-top: token(--space-8);
  }
}
@layer overrides {
  .Action {
    color: var(--snackbar-bg);
    background-color: var(--snackbar-fg);

    &:is(:active, :hover) {
      color: var(--snackbar-bg);
      background-color: var(--snackbar-fg);
      opacity: 80%;
    }
  }
}
