.Wrapper {
  align-items: center;
  display: block;
  height: var(--static-height);
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: var(--static-width);
  resize: none;

  &[data-responsive='true'] {
    display: flex;
    height: inherit;
    justify-content: center;
    width: inherit;

    /* resize: both; */
  }
}

.Legend {
  left: var(--legend-left);
  overflow: hidden;
  padding: var(--legend-padding);
  position: absolute;
  top: var(--legend-top);
  width: var(--legend-width);
}

.LegendContent {
  display: flex;
  flex-direction: column;
  width: 100%;

  & ul {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    gap: 1rem;
  }

  & li > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    font-size: 12px;
  }

  & li:hover {
    cursor: pointer;
  }
}

.Unselectable {
  -webkit-touch-callout: none;
  user-select: none;
}

