.Stack {
  display: flex;
  grid-gap: var(--r-gap, 0) var(--c-gap, 0);
  flex-direction: column;
  align-items: var(--h-align);
  justify-content: var(--v-align);
  max-inline-size: var(--max-w);

  &:where([data-stack-has-padding='true']) {
    padding: var(--v-padding, 0) var(--h-padding, 0);
  }

  &:where([data-stack-fill='true']) > * {
    flex-grow: 1;
  }

  &[data-stack-direction='column-reverse'] {
    flex-direction: column-reverse;
  }

  &[data-stack-direction^='row'] {
    align-items: var(--v-align);
    justify-content: var(--h-align);
  }

  &[data-stack-direction='row'] {
    flex-direction: row;
  }

  &[data-stack-direction='row-reverse'] {
    flex-direction: row-reverse;
  }

  &[data-stack-inline='true'] {
    display: inline-flex;
    flex-grow: 0;
  }

  &[data-stack-wrap='true'] {
    flex-wrap: wrap;
  }
}
