html {
  &[data-html-smooth='true'] {
    scroll-behavior: smooth;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &[id] {
    position: relative;
  }
}

:is(h2, h3, h4)[id] {
  & > a {
    display: inline-flex;
    margin-left: env(--space-16);
    background-image: none;
  }

  & .HeadingAnchor {
    font-size: env(--font-size-16);
    inline-size: 24px;
    block-size: 24px;
    visibility: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border-radius: env(--radius-8);
    background-color: var(--highlight-cyan-background);
    color: var(--highlight-cyan-foreground);
    padding-bottom: 1px;
    trasnform: translateY(-4px);

    &::before {
      content: '#';
      display: inline-block;
    }
  }

  &:hover,
  &:focus-within {
    & .HeadingAnchor {
      visibility: visible;
    }
  }
}


img {
  border-radius: env(--radius-4);
  max-width: 100%;
}

img[width][height] {
  height: auto;
}

