@import '@wonderflow/react-components/core/utils/vibrancy.css';

:root:is([data-theme='light'], [data-theme='dark'], [data-theme='auto']) {

  /* Common props */
  --docsearch-primary-color: var(--dimmed-2);
  --docsearch-text-color: var(--global-foreground);
  --docsearch-spacing: 16px;
  --docsearch-icon-stroke-width: 1.4;
  --docsearch-highlight-color: var(--global-vibrancy-foreground);
  --docsearch-muted-color: var(--dimmed-7);
  --docsearch-container-background: hsl(0deg 0% 0% / 70%);
  --docsearch-logo-color: var(--dimmed-4);

  /* Modal props */
  --docsearch-modal-width: 560px;
  --docsearch-modal-height: 600px;
  --docsearch-modal-background: var(--dimmed-0);
  --docsearch-modal-shadow:
    0 33px 78px hsl(0deg 0% 0% / 11%),
    0 12.04px 28.47px hsl(0deg 0% 0% / 7.59%),
    0 5.84px 13.82px hsl(0deg 0% 0% / 6.12%),
    0 2.86px 6.77px hsl(0deg 0% 0% / 4.88%),
    0 1.13px 2.67px hsl(0deg 0% 0% / 5.41%);

  /* Searchbox props */
  --docsearch-searchbox-height: 56px;
  --docsearch-searchbox-background: transparent;
  --docsearch-searchbox-focus-background: var(--global-vibrancy-background);
  --docsearch-searchbox-shadow: none;

  /* Hit props */
  --docsearch-hit-height: 56px;
  --docsearch-hit-color: var(--global-foreground);
  --docsearch-hit-active-color: var(--global-background);
  --docsearch-hit-background: var(--global-background);
  --docsearch-hit-shadow: none;

  /* Keys props */
  --docsearch-key-gradient: linear-gradient(-225deg, var(--dimmed-1), var(--dimmed-0));
  --docsearch-key-shadow:
    inset 0 -2px 0 0 var(--dimmed-1),
    0 1px 2px 1px rgb(0 0 0 / 5%);

  /* Footer props */
  --docsearch-footer-height: 44px;
  --docsearch-footer-background: none;
  --docsearch-footer-shadow: none;
}

.DocSearch-Button {
  margin-left: 0;
  height: 40px;
  width: 40px;
  justify-content: center;
}

.DocSearch-Input:focus-visible {
  outline: none;
}

.DocSearch-Modal {
  border-radius: token(--radius-16);
}

.DocSearch-Button-Keys,
.DocSearch-Button-Placeholder {
  display: none;
}

.DocSearch-Container {

  @mixin vibrancy;

  backdrop-filter: saturate(180%) blur(8px);
}
