.ContainerEx {
  background-color: hsl(env(--color-primary-50) / 20%);
  min-block-size: env(--space-24);
}


.ContainerEx[data-container-dimension='small'] {
  box-shadow:
    inset env(--space-16) 0 0 hsl(env(--color-support-brand) / 60%),
    inset calc(env(--space-16) * -1) 0 0 hsl(env(--color-support-brand) / 60%);
}

@media (min-width: 48em) {
  .ContainerEx[data-container-dimension='small'] {
    box-shadow:
      inset env(--space-32) 0 0 hsl(env(--color-support-brand) / 60%),
      inset calc(env(--space-32) * -1) 0 0 hsl(env(--color-support-brand) / 60%);
  }
}

.ContainerEx[data-container-dimension='medium'] {
  box-shadow:
    inset env(--space-16) 0 0 hsl(env(--color-support-brand) / 60%),
    inset calc(env(--space-16) * -1) 0 0 hsl(env(--color-support-brand) / 60%);
}

@media (min-width: 48em) {
  .ContainerEx[data-container-dimension='medium'] {
    box-shadow:
      inset env(--space-32) 0 0 hsl(env(--color-support-brand) / 60%),
      inset calc(env(--space-32) * -1) 0 0 hsl(env(--color-support-brand) / 60%);
  }
}

.ContainerEx[data-container-dimension='large'] {
  box-shadow:
    inset env(--space-16) 0 0 hsl(env(--color-support-brand) / 60%),
    inset calc(env(--space-16) * -1) 0 0 hsl(env(--color-support-brand) / 60%);
}

@media (min-width: 48em) {
  .ContainerEx[data-container-dimension='large'] {
    box-shadow:
      inset env(--space-32) 0 0 hsl(env(--color-support-brand) / 60%),
      inset calc(env(--space-32) * -1) 0 0 hsl(env(--color-support-brand) / 60%);
  }
}

.ContainerEx[data-container-dimension='full'] {
  box-shadow:
    inset env(--space-16) 0 0 hsl(env(--color-support-brand) / 60%),
    inset calc(env(--space-16) * -1) 0 0 hsl(env(--color-support-brand) / 60%);
}

@media (min-width: 48em) {
  .ContainerEx[data-container-dimension='full'] {
    box-shadow:
      inset env(--space-32) 0 0 hsl(env(--color-support-brand) / 60%),
      inset calc(env(--space-32) * -1) 0 0 hsl(env(--color-support-brand) / 60%);
  }
}

.ContainerEx[data-container-padding='false'] {
  box-shadow: none;
}
