@layer components {
  .List {
    --separator-size: 2px;

    box-shadow: inset 0 calc(var(--separator-size) * -1) 0 var(--dimmed-1);
    white-space: nowrap;
    overflow: auto;
  }

  .Highlight {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: var(--cta-default);
    pointer-events: none;
    border-radius: 2px 2px 0 0;
  }

  .Panel {
    animation: fade-in token(--duration-200);
    animation-timing-function: token(--easing-entrance));
  }
}
@layer overrides {
  .Trigger {
    position: relative;
    overflow: unset;
    border-radius: 0;
    backdrop-filter: none;
    background: none;
    font-weight: token(--wds-font-weight-regular);
    outline-offset: calc(var(--separator-size) * -1);
    color: var(--dimmed-6);
    appearance: none;
    padding: token(--space-8) token(--space-16);
    block-size: token(--space-48);
    border: 0;
    background-color: transparent;
    font-family: inherit;
    white-space: nowrap;
    flex-shrink: 0;

    &[data-tab-dimension='big'] {
      font-size: token(--wds-font-size-10);
      height: calc(token(--space-56) - var(--separator-size));
    }

    &:active {
      transform: none;
    }

    &:not([aria-disabled='true']) {
      color: var(--dimmed-5);
      backdrop-filter: none;
    }

    &.Trigger:not([aria-disabled='true']):is(:hover, :focus, :active) {
      background: none;
      color: var(--global-foreground);
      backdrop-filter: none;
    }

    &.Trigger[aria-disabled='true'] {
      background: none;
      backdrop-filter: none;
      color: var(--global-disabled-foreground);
    }

    &[data-state='active'] {
      -webkit-text-stroke: 0.4px var(--global-foreground);
      color: var(--global-foreground);
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0%;
    transform: translate(var(--fade-from-x, 0), var(--fade-from-y, 0));
  }

  100% {
    opacity: unset;
    transform: none;
  }
}
