.LiveCode {
  position: relative;
}

.LiveArea {
  padding-top: token(--space-56);
}

.Editor {
  border-radius: token(--radius-8);
  font-size: token(--font-size-18);
  margin-top: token(--space-8);
  border: 1px solid var(--dimmed-1);
  transition: all token(--duration-100) token(--easing-standard-css);

  &:focus-within {
    border-color: var(--dimmed-3);
    box-shadow: 0 0 0 4px var(--dimmed-1);
  }

  & > * {
    outline: none;

    /* stylelint-disable-next-line declaration-no-important */
    padding: token(--space-24) !important;
  }

  & *::selection {
    background-color: var(--dimmed-3);
    text-shadow: none;
  }
}

.Toolbar {
  position: absolute;
  top: token(--space-8);
  right: token(--space-8);
  z-index: 2;
}
