@import '@wonderflow/react-components/core/utils/media.css';

.ToC {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;

  &[data-toc-has-titles='false'] {
    display: none;
  }

  @media (width >= 120em) {
    position: fixed;
    top: env(--space-104);
    left: calc(100% - 300px);
    max-inline-size: 270px;
  }
}


.ToCItem {
  font-size: env(--font-size-22);
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  grid-gap: env(--space-16);
  color: var(--global-interactive-text);

  & svg {
    flex-shrink: 0;
  }
}

.QuickNav.QuickNav {
  display: none;

  @media (width >= 120em) {
    display: unset;
  }
}
