.MdxLayout {
  position: relative;
}

.Links {
  max-inline-size: 12.11rem;
}

.Hero {
  position: relative;
}

.Action {
  position: absolute;
  bottom: token(--space-8);
  right: token(--space-8);
}
