@import '@wonderflow/react-components/core/utils/media.css';

.Bezier {
  --thumb-size: 40px;
}

.Editor {
  display: block;
  margin: 0 auto;
}

.Preview {
  min-block-size: 324px;
}

.Thumb {
  display: block;
  inline-size: var(--thumb-size);
  block-size: var(--thumb-size);
  background-color: var(--cta-default);
  border-radius: 50%;
  position: relative;

  @media (--from-small) {
    &:not(.ComparisonThumb)::before {
      content: '';
      block-size: 2px;
      border-bottom: 2px dotted var(--dimmed-3);
      position: absolute;
      inline-size: 456px;
      right: 50%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.ComparisonThumb {
    background: var(--dimmed-3);
  }
}
