.OverlayContainer {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &[data-overlay-container-obfuscate='false'] {
    pointer-events: none;
  }
}

.Backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--dimmed-0);

  &[data-overlay-color='light'] {
    background-color: hsl(env(--color-primary-0));
  }

  &[data-overlay-color='dark'] {
    background-color: hsl(env(--color-primary-90));
  }
}
