.NavItem {
  color: var(--global-foreground);

  &:hover {
    color: var(--global-vibrancy-foreground);
  }

  &[aria-current='true'] {
    color: var(--fg);
  }
}

.IconWrapper {
  width: token(--space-24);
  height: token(--space-24);
  background: var(--global-vibrancy-background);
  border-radius: token(--radius-4);

  @nest .NavItem[aria-current='true'] & {
    background: var(--fg);
    color: var(--bg);
  }
  @nest .NavItem:hover & {
    background: var(--fg);
    color: var(--bg);
  }

  & svg {
    width: token(--space-16);
    height: token(--space-16);
  }
}
