.LiveCode {
  position: relative;
}

.LiveArea {
  padding-top: env(--space-56);
}

.Editor {
  border-radius: env(--radius-8);
  font-size: env(--font-size-18);
  margin-top: env(--space-8);
  border: 1px solid var(--dimmed-1);
  transition: all env(--duration-100) env(--easing-standard);

  &:focus-within {
    border-color: var(--dimmed-3);
    box-shadow: 0 0 0 4px var(--dimmed-1);
  }

  & > * {
    outline: none;

    /* stylelint-disable-next-line declaration-no-important */
    padding: env(--space-24) !important;
  }

  & *::selection {
    background-color: var(--dimmed-3);
    text-shadow: none;
  }
}

.Toolbar {
  position: absolute;
  top: env(--space-8);
  right: env(--space-8);
  z-index: 2;
}
