@import '@wonderflow/react-components/core/utils/vibrancy.css';

.Window {
  border-radius: token(--radius-8);
  max-height: var(--max-height);
  overflow: auto;
  z-index: 0;
}

.Toolbar {

  @mixin vibrancy;

  color: var(--global-vibrancy-foreground);
  display: grid;
  grid-template-columns: 6rem 1fr 6rem;
  align-items: center;
  padding: token(--space-8) token(--space-16);
  column-gap: token(--space-8);
  position: sticky;
  background: var(--global-vibrancy-background-soft);
  top: 0;
  z-index: 1;
}

.TrafficLight span {
  width: 0.55rem;
  height: 0.55rem;
  border-radius: 100%;
  flex-shrink: 0;

  &:nth-child(1) {
    background: hsl(token(--color-red-30));
  }

  &:nth-child(2) {
    background: hsl(token(--color-yellow-20));
  }

  &:nth-child(3) {
    background: hsl(token(--color-green-30));
  }
}

.Address {
  border-radius: token(--radius-4);
  background: hsl(token(--color-support-black) / 15%);
}

.Viewport {
  height: 100%;
  aspect-ratio: var(--ratio);
  background: var(--global-vibrancy-background-soft);
  border-radius: 0 0 token(--radius-8) token(--radius-8);
}
