.VideoPlayer {
  margin: 0;
  inline-size: 100%;
  position: relative;
  appearance: none;
  padding: 0;
  display: flex;
  cursor: pointer;
  border-radius: token(--radius-8);
  overflow: hidden;
  border: 1px solid var(--dimmed-1);

  & > video {
    width: 100%;
  }
}

.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(token(--color-primary-80) / 60%);
  color: hsl(token(--color-support-white));
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
