@import '@wonderflow/react-components/core/utils/media.css';
@import '@wonderflow/react-components/core/utils/vibrancy.css';

.Notes {
  --timeline-color: var(--dimmed-1);
  --timeline-width: token(--space-72);

  position: relative;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    left: calc(var(--timeline-width) / 2);
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
    background: var(--timeline-color);
    z-index: -1;
    display: none;

    @media (--from-medium) {
      display: block;
    }
  }

  &:first-of-type {
    --tag-opacity-1: 12%;
    --tag-opacity-2: 22%;

    &::before {
      background: linear-gradient(to bottom, var(--layout-color-fg) 0, var(--timeline-color) 95%);
    }
  }

  &:last-of-type {
    &::before {
      background: linear-gradient(to bottom, var(--timeline-color), transparent);
    }
  }
}

.Tag {

  @mixin vibrancy;

  min-inline-size: var(--timeline-width);
  min-block-size: var(--timeline-width);
  border-radius: 100%;
  position: relative;
  border: 1px solid var(--dimmed-1);
  color: var(--highlight-blue-foreground);
  background:
    radial-gradient(circle at 94% 85%, rgb(40 255 216 / var(--tag-opacity-1, 0)) 0%, rgb(40 255 216 / 0%) 100%),
    radial-gradient(circle at 88% 0%, rgb(97 160 255 / var(--tag-opacity-2, 0)) 0%, rgb(97 160 255 / 0%) 100%)
    var(--global-vibrancy-background-soft);
  display: none;

  @media (--from-medium) {
    display: flex;
  }

  @supports not (backdrop-filter: blur(0)) {
    background-color: var(--dimmed-0);
  }
}

.Pulse {
  position: absolute;
  border: 2px solid var(--layout-color-fg);
  border-radius: 100%;
  display: block;
  inset: 0;
}

.Changes.Changes {

  @mixin vibrancy;

  background: var(--global-vibrancy-background-soft);
  margin-top: token(--space-24);
  color: var(--dimmed-6);

  @supports not (backdrop-filter: blur(0)) {
    background-color: var(--dimmed-0);
  }

  & li {
    position: relative;
    margin-top: token(--space-8);
    margin-bottom: token(--space-8);
    margin-left: token(--space-32);
    gap: token(--space-8);
    align-items: flex-start;
    flex-wrap: wrap;
    line-height: 1.2;
    font-size: token(--font-size-16);

    @media (--from-small) {
      flex-wrap: nowrap;
    }

    & span {
      font-size: inherit;
    }
  }

  & li::before {
    position: absolute;
    top: 0;
    left: calc(token(--space-32) * -1);
    display: inline-block;
    font-size: token(--font-size-14);
    border-radius: 1e5px;
    font-weight: 600;
    inline-size: token(--space-24);
    block-size: token(--space-24);
    text-align: center;
    padding-top: 1px;
    line-height: 1.5;
  }

  & [data-note-type='breaking'] li::before {
    content: 'B';
    background-color: var(--highlight-red-background);
    color: var(--highlight-red-foreground);
  }

  & [data-note-type='fixes'] li::before {
    content: 'F';
    background-color: var(--highlight-blue-background);
    color: var(--highlight-blue-foreground);
  }

  & [data-note-type='new'] li::before {
    content: 'N';
    background-color: var(--highlight-green-background);
    color: var(--highlight-green-foreground);
  }
}
