@import '../../core/utils/media.css';

@layer components {
  .Modal {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
  }

  .Container {
    z-index: 1;


    & > * {
      pointer-events: auto;
    }
  }
}
