@import '../../core/utils/media.css';

@layer components {
  .Modal {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
  }

  .Content {
    background-color: var(--global-background);
    border-radius: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    inline-size: 100vw;
    max-block-size: 95vh;
    min-height: 100vh;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;


    @media (--from-small) {
      border-radius: token(--radius-8);
      inline-size: 600px;
      max-height: 90vh;
      min-height: auto;
    }
  }

  .Container {
    z-index: 1;


    & > * {
      pointer-events: auto;
    }
  }
}
@layer overrides {
  .CloseButton {
    position: absolute;
    top: token(--space-8);
    right: token(--space-8);
  }
}
