@layer components {
  .Textfield {
    appearance: none;
    position: relative;
    padding: 0;

    &[data-textfield-dimension='small'] {
      --field-height: token(--space-24);
      --field-padding: 0.33rem;
      --font-size: token(--wds-font-size-14);
    }

    &[data-textfield-dimension='regular'] {
      --field-height: calc(token(--space-40) -token(--space-4));
      --field-padding: calc(token(--space-16) - token(--space-2));
      --font-size: token(--wds-font-size-14);
    }

    &[data-textfield-dimension='big'] {
      --field-height: token(--space-48);
      --field-padding: token(--space-16);
      --font-size: token(--wds-font-size-16);
    }

    &[data-textfield-fullwidth='true'] {
      inline-size: 100%;
    }
  }

  .FieldContainer {
    position: relative;
  }

  .InputField {
    --factor: 4;

    @nest [data-textfield-has-icon='true'][data-textfield-icon-position='right'] & {
      padding:
        0
        calc(var(--field-padding) * var(--factor))
        0
        var(--field-padding);
    }
    @nest [data-textfield-has-icon='true'][data-textfield-icon-position='left'] & {
      padding:
        0
        var(--field-padding)
        0
        calc(var(--field-padding) * var(--factor));
    }
    @nest [data-textfield-dimension*='regular'] &,
    [data-textfield-dimension*='big'] & {
      --factor: 3;
    }
  }

  .Icon {
    border-radius: token(--radius-4);
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    @nest [data-textfield-icon-position='left'] & {
      right: auto;
      left: var(--field-padding);
    }
    @nest [data-textfield-icon-position='right'] & {
      left: auto;
      right: var(--field-padding);
    }
    @nest .Textfield[data-textfield-invalid='true'] & {
      fill: var(--highlight-red-foreground);
    }

    &[aria-disabled='true'] {
      color: var(--global-disabled-foreground);
      cursor: not-allowed;
    }
  }

  .InputField:invalid + .Icon {
    fill: var(--highlight-red-foreground);
  }

  label.Label {
    &[aria-disabled='true'] {
      color: var(--global-disabled-foreground);
      cursor: not-allowed;
    }
  }
}
@layer overrides {
  .IconButton {
    --x: 25%;

    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(var(--x));
    outline-offset: -0.25em;

    &[data-button-kind='flat']:is(:hover, :active, :focus) {
      background-color: transparent;
      backdrop-filter: none;
    }

    &[data-button-kind='flat']:is([data-button-disabled='true']) {
      background-color: unset;
      backdrop-filter: none;
      block-size: unset;
      cursor: not-allowed;
    }

    @nest [data-textfield-icon-position='left'] & {
      --x: -19%;

      right: auto;
      left: var(--field-padding);
    }
    @nest [data-textfield-icon-position='right'] & {
      left: auto;
      right: var(--field-padding);
    }
    @nest .Textfield[data-textfield-invalid='true'] & {
      color: var(--highlight-red-foreground);
    }
  }
}
