@import '@wonderflow/react-components/core/utils/media.css';

.Icons {
  color: var(--highlight-gray-foreground);
  mask-repeat: no-repeat;
  mask-image: url("data:image/svg+xml,%3Csvg width='656' height='522' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M551.053 35 339.025 287.538l-53.069-35.813L422.234 89.161V35h-75.276L208.679 199.646l-52.026-35.012 63.329-75.473V35h-75.354L29.114 172.726v81.883L375.736 488l250.272-298.769.878-1.122V35h-75.834Zm67.822 150.546L373.976 477.662 37.29 250.683v-68.984l326.826 220.328L618.875 98.295v87.251ZM39.054 173.207 148.396 43.012h63.569v43.265l-67.096 80.12 65.333 44.146L350.725 43.012h64.133v43.265l-140.766 167.05 66.457 44.786L554.741 43.012h64.134v42.784L362.351 391.373 39.054 173.207Z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M138.798 22.5h93.684v71.21l-57.321 68.313 31.173 20.979L341.133 22.5h93.601v71.207L304.447 249.123l32.242 21.758L545.227 22.5h94.16v169.92l-3.663 4.679-257.633 307.556L16.613 261.262v-93.078l8.177-9.762v-.225l.12.082L138.799 22.5Zm467.577 58.745V55.512h-45.807L342.89 314.764l-87.325-58.849L402.358 81.712v-26.2h-45.803L212.538 227.208l-86.15-58.213 73.077-87.261V55.512h-45.243l-96.666 115.1 302.457 204.104L606.375 81.245ZM49.79 205.2v38.834L371.63 461.004l234.746-280.005v-48.35L366.46 418.683 49.79 205.201Z' fill='%23000'/%3E%3C/svg%3E");
  mask-size: 94%;
  mask-position: 8% -10%;
  inline-size: clamp(27.77rem, 100%, 33.33rem);
  overflow: hidden;
  background:
    radial-gradient(circle at left top, rgb(104 210 217 / 14%) 0%, rgb(104 210 217 / 0%) 100%),
    radial-gradient(circle at 80% 90%, rgb(123 97 255 / 16%) 0%, rgb(123 97 255 / 0%) 100%);
}
