@import '@wonderflow/react-components/core/utils/media.css';

.Developers {
  overflow: hidden;
  background:
    radial-gradient(100vmin 100vmin at 40% -20%, rgb(152 80 154 / 17%) 0%, rgb(152 80 154 / 0%) 100%),
    radial-gradient(100vmin 100vmin at 20% -50%, rgb(255 213 139 / 22%) 0%, rgb(255 213 139 / 0%) 98%);
}

.Content {

  @media (--from-medium) {
    max-width: 50%;
  }
}

.Tab {
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: calc(token(--space-48) + 4px);
    height: 2px;
    width: 100vw;
    left: 100%;
    background: var(--dimmed-1);
  }
}

.Media {

  @media (--from-medium) {
    width: 47%;
  }
}
