@import '@wonderflow/react-components/core/utils/media.css';

.Toolbar {
  padding: env(--space-8) env(--space-24);
  color: var(--global-vibrancy-foreground);
  background-color: var(--dimmed-0);
  border-bottom: 1px solid var(--dimmed-1);
}

.SearchLabel {
  display: none;

  @media (--from-small) {
    display: unset;
  }
}
