@layer components {
  .Disclosure {
    --icon-size: 1.11rem;
    --icon-padding: token(--space-8);
    --padding: calc(var(--icon-size) + var(--icon-padding) + (var(--icon-size) / 2));
    --icon-top-offset: calc(var(--icon-size) / 2);

    display: block;
    position: relative;
    transform: translateZ(0);
    z-index: 0;

    & * {
      box-sizing: border-box;
    }

    &[data-disclosure-dimension='small'] {
      --icon-top-offset: calc(var(--icon-size) / 1.75);
      --icon-size: token(--icon-size-12);
    }

    &[data-disclosure-dimension='regular'] {
      --icon-top-offset: calc(var(--icon-size) / 3);
      --icon-size: token(--icon-size-16);
    }

    &[data-disclosure-dimension='big'] {
      --icon-top-offset: calc(var(--icon-size) / 12);
      --icon-size: token(--icon-size-24);
      --icon-padding: token(--space-16);
    }
  }

  .Summary {
    color: var(--dimmed-9);
    display: list-item;
    outline-offset: -2px;
    position: relative;
    touch-action: manipulation;
    user-select: none;

    @nest .Disclosure[data-disclosure-icon-position='right'][data-disclosure-expandable='true'] & {
      padding-inline-end: var(--padding);
    }
    @nest .Disclosure[data-disclosure-icon-position='left'][data-disclosure-expandable='true'] & {
      padding-inline-start: var(--padding);
    }
    @nest .Disclosure[data-disclosure-expandable='true'] & {
      cursor: pointer;
    }

    &::marker {
      content: '';
    }

    &::-webkit-details-marker {
      display: none;
    }
  }

  .ExpandIcon {
    block-size: var(--icon-size);
    content: '';
    inline-size: var(--icon-size);
    position: absolute;
    right: calc(var(--icon-size) / 2);
    top: var(--icon-top-offset);
    transform-box: fill-box;
    transform-origin: 50% center;
    transition: transform token(--duration-100) token(--easing-standard);

    @nest .Disclosure[data-disclosure-icon-position='left'] & {
      left: calc(var(--icon-size) / 2);
      right: auto;
    }
    @nest .Disclosure[open] > .Summary > & {
      transform: rotate(90deg);
    }
  }

  .Content {
    box-sizing: border-box;

    @nest .Disclosure[data-disclosure-icon-position='left'] &[data-disclosure-padding='true'] {
      padding-inline-start: var(--padding);
    }
    @nest .Disclosure[data-disclosure-icon-position='right'] &[data-disclosure-padding='true'] {
      padding-right: var(--padding);
    }

    &[data-disclosure-height='true'] {
      -webkit-overflow-scrolling: touch;
      overscroll-behavior: contain;
      max-block-size: var(--max-height);
      overflow: auto;
    }
  }
}
