@import '@wonderflow/react-components/core/utils/media.css';

.Banner {
  color: var(--global-foreground);
  background-image: url('/banner-bg.svg');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
}

.Icon {
  inline-size: token(--space-24);
  block-size: token(--space-24);

  @media (--from-small) {
    inline-size: token(--space-40);
    block-size: token(--space-40);
  }
}
