@import '@wonderflow/react-components/core/utils/media.css';

.Shell {
  --sidebar-width: 16.55rem;

  position: relative;
}

.Aside {
  flex-shrink: 0;
  position: fixed;
  inset: 0;
  display: none;
  background-color: var(--global-background);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  padding-bottom: env(--space-104);
  z-index: 2;

  @media (--from-large) {
    border-right: 1px solid var(--dimmed-1);
    inline-size: var(--sidebar-width);
    block-size: 100vh;
    position: sticky;
    display: flex;
    padding-bottom: env(--space-32);
  }
  @media (width >= 120em) {
    position: fixed;
  }

  @nest [data-shell-collapsed='false'] & {
    display: flex;
  }
}

.Content {
  flex-grow: 1;
  background-color: var(--dimmed-0);
  min-height: 100vh;
}

.MenuTrigger {
  position: fixed;
  left: max(env(--space-24), env(safe-area-inset-left));
  bottom: max(env(--space-24), calc(env(safe-area-inset-bottom) * 1.2));
  z-index: 3;

  @media (--from-large) {
    display: none;
  }
}

.Header {

  @nest [data-shell-sticky-header='true'] & {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

.ContentArea {
  display: none;

  &:not(:empty) {
    display: initial;
    padding: env(--space-16) env(--space-24) max(env(--space-88), env(safe-area-inset-bottom));

    @media (--from-medium) {
      max-inline-size: var(--content-max-width);
      padding: 0  env(--space-64) env(--space-48);
    }
  }
}

.SkipToContent {
  clip: rect(0, 0, 0, 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: fixed;
  visibility: inherit;
  white-space: nowrap;
  width: 1px;

  &:focus {
    clip: auto;
    align-items: center;
    background-color: var(--dimmed-1);
    border: 1px solid var(--dimmed-2);
    display: flex;
    height: env(--space-56);
    left: 0;
    outline: none;
    padding: 0 env(--space-16);
    top: 0;
    width: auto;
    z-index: 4;

    @supports (backdrop-filter: blur(1px)) {
      backdrop-filter: blur(62px);
      background-color: var(--global-vibrancy-background);
    }
  }
}

