.Hero {
  --dots-size: 2px;
  --dots-gap: 24px;
  --dots-color: var(--dimmed-3);

  position: relative;
  z-index: 0;
  background: var(--dimmed-0);
  mask-image: radial-gradient(45rem 7% at center bottom, rgb(0 0 0 / 80%), red);

  &::after {
    --computed-dot-size: calc(var(--dots-size) / 2);

    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    mask-image: linear-gradient(0.54turn, #000 0%, rgb(0 0 0 / 0%) 77.08%);
    background-image:
      radial-gradient(
        var(--dots-color) var(--computed-dot-size),
        transparent var(--computed-dot-size)
      );
    background-size:
      calc(var(--dots-gap) + var(--dots-size))
      calc(var(--dots-gap) + var(--dots-size));
  }
}

.Glow {
  position: absolute;
  inset: 0;
  z-index: -1;
  filter: saturate(2);
}
