.OutlineTree {
  padding-left: calc(token(--space-4) + token(--space-2));

  & ul:not(.SubMenu) {
    margin: 0;
    padding: 0;
    padding-left: token(--space-24);
    list-style-type: none;
  }
}

.Title {
  text-transform: uppercase;
}

.SubMenu {
  list-style-type: none;
  margin-block-end: token(--space-24);
  border-left: 2px dashed var(--layout-color-fg);
  border-radius: 0 0 0 token(--radius-16);
  padding-left: token(--space-16);
  margin-left: token(--space-8);
  padding-bottom: token(--space-8);
}


.Li {
  & :is(a, summary) {
    color: var(--dimmed-9);
    outline-offset: -2px;
    font-weight: 600;
    border-radius: token(--radius-8);
    position: relative;
    padding-top: token(--space-4);
    padding-bottom: token(--space-4);

    &::before {
      content: '';
      display: block;
      position: absolute;
      inset: 0 -8px;
      z-index: -1;
      border-radius: token(--radius-8);
    }

    &:not([aria-current='page']):hover {
      color: var(--layout-color-fg);
    }
  }

  @nest details & > :is(a, span, div) {
    color: var(--dimmed-6);
    padding: 0 token(--space-8);
    font-weight: unset;
    outline-offset: -2px;
  }

  & > *[aria-current='page'] {
    color: var(--layout-color-fg);

    &::before {
      background: var(--layout-color-bg);
    }
  }

  /* Stupid Safari fix
   * https://developer.mozilla.org/en-US/docs/Web/CSS/list-style#accessibility_concerns
   */

  &::before {
    position: absolute;
    content: '\200B';
  }
}
