.OutlineTree {
  & ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  /*
  & details ul {
    padding-left: token(--space-24);
    margin: 0 0 token(--space-24);
  } */
}

.Title {
  text-transform: uppercase;
}

.SubMenu.SubMenu {
  margin-block-end: token(--space-32);
  border-left: 1px dashed var(--layout-color-fg);
  padding-left: token(--space-16);
  margin-left: token(--space-8);
}

.Li {
  & > :is(a, span, div) {
    color: var(--dimmed-9);
    outline-offset: -2px;
    font-weight: 600;
  }

  @nest details & > :is(a, span, div) {
    color: var(--dimmed-6);
    padding: 0 token(--space-8);
    font-weight: unset;
    outline-offset: -2px;
  }

  /*

  & > :is(details) {
    font-size: token(--font-size-16);
  } */

  /*
  & > :is(a),
  & details > summary {
    cursor: pointer;

    &:hover:not([aria-current='page']) {
      color: var(--dimmed-6);
    }
  } */

  /* @nest details & :is(a, span) {
    font-weight: 400;
  } */

  & > *[aria-current='page'] {
    color: var(--layout-color-fg);
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      inset: -2px -8px;
      background: var(--layout-color-bg);
      z-index: -1;
      border-radius: token(--radius-8);
    }
  }

  /* Stupid Safari fix
   * https://developer.mozilla.org/en-US/docs/Web/CSS/list-style#accessibility_concerns
   */

  /* &::before {
    position: absolute;
    content: '\200B';
  }
}
*/
}
