@layer components {
  .CircularProgress {
    --hue: 220;
    --track-size: 4px;
    --track-bg: var(--dimmed-1);

    inline-size: token(--space-64);
    min-inline-size: 64px;
    aspect-ratio: 1 / 1;
    display: grid;
    place-items: center;
    position: relative;
    font-weight: token(--wds-wds-font-weight-bold);
    font-size: token(--wds-font-size-16);

    &[data-circular-progress-show-progress='true']::after {
      content: attr(data-circular-progress);
      display: block;
    }

    &[data-circular-progress-dimension='regular'] {
      --track-size: 8px;

      font-size: token(--wds-font-size-28);
      inline-size: token(--space-136);
    }

    &[data-circular-progress-dimension='big'] {
      --track-size: 16px;

      font-size: token(--wds-wds-font-size-40);
      inline-size: token(--space-184);
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 50%;
      z-index: -1;
      background:
        conic-gradient(
          var(--progress-color, var(--cta-default)),
          var(--progress-color, var(--cta-default)) var(--progress, 0%),
          var(--track-bg) var(--progress, 0%) 100%
        );
      mask-image:
        radial-gradient(
          transparent calc(71% - var(--track-size)),
          black calc(calc(71% - var(--track-size)) + 0.5px)
        );
    }
  }
}
