@import '../../core/utils/media.css';

@layer components {
  .Title {
    &:is(.H1, .H2, .H3, .H4, .H5, .H6, .Display) {
      --lh: token(--font-lh-standard);

      display: block;
      line-height: token(--font-lh-small);
      color: var(--heading-foreground, var(--dimmed-9));
      min-block-size: 0.01vh;
      font-size: var(--fs-max);
      max-inline-size: var(--max-w, initial);
      text-align: var(--t-align);
      overflow-wrap: break-word;


      &[data-title-line-height='small'] {
        --lh: token(--font-lh-small);
      }

      &[data-title-line-height='large'] {
        line-height: token(--font-lh-standard);
      }
    }

    &:is(.H6) {
      --fs-min: token(--font-size-14);
      --fs-max: token(--font-size-18);

      font-weight: 700;
    }

    &:is(.H5) {
      --fs-min: 1rem;
      --fs-max: 1.33rem;

      font-weight: 700;

      &::before {
        content: '';
        display: block;
        height: 0;
        width: 0;
        margin-top: calc((1 - var(--lh)) * 0.6em);
      }
    }

    &:is(.H4) {
      --fs-min: 1.33rem;
      --fs-max: 1.77rem;

      font-weight: 700;

      &::before {
        content: '';
        display: block;
        height: 0;
        width: 0;
        margin-top: calc((1 - var(--lh)) * 0.6em);
      }
    }

    &:is(.H3) {
      --fs-min: 1.77rem;
      --fs-max: 2.37rem;

      font-weight: 800;

      &::before {
        content: '';
        display: block;
        height: 0;
        width: 0;
        margin-top: calc((1 - var(--lh)) * 0.6em);
      }
    }

    &:is(.H2) {
      --fs-min: 2.37rem;
      --fs-max: 3.16rem;

      font-weight: 800;

      &::before {
        content: '';
        display: block;
        height: 0;
        width: 0;
        margin-top: calc((1 - var(--lh)) * 0.6em);
      }
    }

    &:is(.H1) {
      --fs-min: 3.16rem;
      --fs-max: 4.2rem;

      font-weight: 800;

      &::before {
        content: '';
        display: block;
        height: 0;
        width: 0;
        margin-top: calc((1 - var(--lh)) * 0.6em);
      }
    }

    &.Display {
      --fs-min: 4.2rem;
      --fs-max: 5.6rem;

      font-weight: 800;

      &::before {
        content: '';
        display: block;
        height: 0;
        width: 0;
        margin-top: calc((1 - var(--lh)) * 0.6em);
      }
    }

    &[data-title-responsive='true'] {
      font-size: var(--fs-min);

      @media (--from-small) {
        font-size: var(--fs-max);
      }
    }
  }
}
@layer overrides {
  .Anchor {
    display: inline-flex;
    margin-left: 0.2em;
    background-image: none;
    inline-size: max(16px, 0.6em);
    block-size: max(16px, 0.6em);
    padding: 0.1em;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    line-height: token(--wds-line-height-16);
    border-radius: token(--radius-8);
    background-color: var(--highlight-cyan-background);
    color: var(--heading-foreground, var(--dimmed-9));

    @nest .Title:hover &, .Title:focus-within & {
      visibility: visible;
    }

    & svg {
      width: 100%;
      height: 100%;
    }
  }
}
