@import '@wonderflow/react-components/core/utils/media.css';

.PostHead {
  --dot-color: var(--dimmed-3);

  padding: env(--space-64) 0;
  box-shadow: inset 0 -1px 0 var(--dimmed-1);

  @media (--from-extra-large) {
    background-image:
      linear-gradient(177deg, var(--dimmed-0), hsl(env(--color-primary-80) / 0%)),
      radial-gradient(var(--dot-color) 0.9px, transparent 0.9px);
    background-size: 100%, 30px 30px;
    padding-bottom: env(--space-80);

    /* Safari Only trick */

    @supports (-webkit-hyphens: none) {
      background-image: radial-gradient(var(--dot-color) 0.9px, transparent 0.9px);
      background-size: 30px 30px;
    }
  }
}

.TopicsContainer {
  position: relative;
  margin-top: calc(env(--space-104) * -1);

  & > * {
    position: absolute;
    right: 0;
  }
}
