@layer components {
  .IconButton {
    padding: 0;

    &[data-icon-button-squared='false'] {
      border-radius: 50%;
    }

    &[data-button-dimension='small'] {
      inline-size: token(--space-24);
      min-inline-size: token(--space-24);
      padding: 0;
    }

    &[data-button-dimension='regular'] {
      block-size: calc(token(--space-40) - token(--space-4));
      inline-size: calc(token(--space-40) - token(--space-4));
      min-inline-size: calc(token(--space-40) - token(--space-4));
      padding: 0;
    }

    &[data-button-dimension='big'] {
      inline-size: token(--space-48);
      min-inline-size: token(--space-48);
      padding: 0;
    }
  }
}
