.IconButton.IconButton {
  border-radius: 200px;
  padding: 0;

  &[data-button-dimension='small'] {
    inline-size: token(--space-24);
    min-inline-size: token(--space-24);
    padding: 0;
  }

  &[data-button-dimension='regular'] {
    inline-size: token(--space-40);
    min-inline-size: token(--space-40);
    padding: 0;
  }

  &[data-button-dimension='big'] {
    inline-size: token(--space-48);
    min-inline-size: token(--space-48);
    padding: 0;
  }
}
