.Brands {
  --heading-foreground: var(--dimmed-6);
  --dots-size: 2px;
  --dots-gap: 24px;
  --dots-color: var(--dimmed-2);

  overflow: hidden;
  position: relative;

  &::before {
    --computed-dot-size: calc(var(--dots-size) / 2);

    content: '';
    position: absolute;
    inset: token(--space-24) 0 0 0;
    z-index: -1;
    pointer-events: none;
    mask-image: radial-gradient(circle at center bottom, rgb(0 0 0 / 0%) 0, #000 77%);
    overflow: hidden;
    background-image:
      radial-gradient(
        var(--dots-color) var(--computed-dot-size),
        transparent var(--computed-dot-size)
      );
    background-size:
      calc(var(--dots-gap) + var(--dots-size))
      calc(var(--dots-gap) + var(--dots-size));
  }
}

.Logos {
  position: relative;
  transition: gap token(--duration-500) token(--easing-standard);

  & img {
    transition: all token(--duration-500) token(--easing-standard);
  }

  @nest .Brands:hover &,
  .Brands:focus-within & {
    gap: 0 token(--space-16);

    & img {
      opacity: 40%;
      filter: blur(8px);
    }
  }
}

.Link {
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 0%;
  transform: scale(1.1);
  text-shadow: 0 0 20px var(--global-background);
  transition: all token(--duration-500) token(--easing-standard);

  @nest .Brands:hover &,
  .Brands:focus-within & {
    transform: none;
    opacity: 100%;
  }
}

.Globe {
  width: 1000px;
  height: 1000px;
  max-width: 100%;
  position: absolute;
  left: 50%;
  top: 500px;
  transform: translate(-50%, -50%);
  z-index: -1;
}
