@layer components {
  .ToggleButton {
    line-height: 0;
    padding: 0;

    &[data-icon-button-squared='false'] {
      border-radius: 200px;
    }

    &[aria-pressed='true'] {
      background: var(--background-color);
    }

    &[data-button-kind='primary'] {
      &[aria-pressed='true'] {
        background: hsl(token(--color-red-50));
      }
    }

    &[data-button-kind='secondary'] {
      &[aria-pressed='true'] {
        color: var(--dimmed-0);
        background: var(--dimmed-7);
      }
    }

    &[data-button-kind='flat'] {
      &[aria-pressed='true'] {
        color: var(--dimmed-0);
        background: var(--dimmed-7);
      }
    }

    &[data-button-dimension='small'] {
      --border-width: 2px;
    }

    &[data-button-dimension='regular'] {
      --border-width: 4px;
    }

    &[data-button-dimension='big'] {
      --border-width: 6px;
    }
  }
}
