@import '@wonderflow/react-components/core/utils/media.css';

.Glow {
  position: fixed;
  inset: 0;
  z-index: -1;
  filter: saturate(1.3);
  background:
    radial-gradient(circle at 30% -5%, hsl(109deg 89% 39% / 10%) 0%, hsl(109deg 89% 39% / 0%) 30%),
    radial-gradient(circle at 100% 0%, hsl(46deg 100% 82% / 14%) 0%, hsl(46deg 100% 82% / 0%) 40%),
    radial-gradient(circle at 68% 3%, hsl(241deg 59% 55% / 7%) 0%, hsl(241deg 59% 55% / 0%) 40%),
    radial-gradient(circle at 84% 6%, hsl(0deg 100% 46% / 5%) 0%, hsl(0deg 100% 46% / 0%) 40%);
}

.Content {
  padding-top: token(--space-56);
}

.Sidebar {
  flex: 1 0 0;
  border-bottom: 1px solid var(--dimmed-1);
  padding: token(--space-24) token(--space-8);

  @media (--from-large) {
    overflow: auto;
    padding-top: token(--space-56);
    border: 0;
    height: calc(100vh - 76px);
    max-width: 14.63rem;
    min-width: 14.63rem;
    position: sticky;
    top: 75px;
  }
}


.Toc {
  display: none;

  @media (--from-large) {
    display: block;
  }
}
