.Wrapper {
  align-items: center;
  box-shadow: 2px 2px 4px #ccc;
  display: block;
  height: var(--static-height);
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: var(--static-width);
  resize: none;

  &[data-theme='dark'] {
    box-shadow: none;
  }

  &[data-responsive='true'] {
    display: flex;
    height: auto;
    justify-content: center;
    resize: both;
    width: 100%;
  }
}

.Legend {
  left: var(--legend-left);
  overflow: hidden;
  padding: var(--legend-padding);
  position: absolute;
  top: var(--legend-top);
  width: var(--legend-width);
}
