.TableCell {
  --indent-guide-width: 24px;

  position: relative;
  margin: 0;
  max-width: var(--width);
  font-variant-numeric: tabular-nums;
  line-height: env(--font-lh-small);
  text-align: start;
  padding: 0;
  word-wrap: break-word;

  &:not(:only-child) {
    text-align: var(--text-align, start);
  }

  &[data-table-cell-fixed='true'] {
    width: var(--width, 1%);
  }

  &[data-table-cell-collapsed='true'] {
    width: 1e-10%;
  }

  &[data-table-cell-padding='true'] {
    padding: calc(env(--space-8) + env(--space-4)) env(--space-8);
  }
}

.HeadCellIcon {
  margin-inline-start: env(--space-8);
}
