.Header {
  &[data-header-fixed='true'] {
    position: fixed;
    inline-size: 100%;
    z-index: 3;
    backdrop-filter: blur(var(--blur));
  }
}

.BgContainer {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--global-vibrancy-background-soft);
    opacity: var(--bg-opacity, 100%);
    z-index: -1;
  }
}

.LogoLink {
  background: none;
}
