@import '@wonderflow/react-components/core/utils/vibrancy.css';

.Motion {
  --dots-size: 1px;
  --dots-gap: 8px;
  --dots-color: var(--dimmed-2);

  position: relative;
  contain: style;

  &::after {
    --computed-dot-size: calc(var(--dots-size) / 2);

    content: '';
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    opacity: 100%;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    transform: scale(2);
    mask-image: radial-gradient(circle at center, #000 50%, rgb(0 0 0 / 0%) 70%);
    background-image:
      radial-gradient(
        var(--dots-color) var(--computed-dot-size),
        transparent var(--computed-dot-size)
      );
    background-size:
      calc(var(--dots-gap) + var(--dots-size))
      calc(var(--dots-gap) + var(--dots-size));
  }
}

.Shape {
  --background: #fff;
  --blob: var(--global-vibrancy-background-soft);
  --shades:
    inset 10px 0 40px var(--highlight-blue-foreground),
    inset -10px 0 20px var(--highlight-purple-foreground);

  @mixin vibrancy;

  overflow: hidden;
  inline-size: 25rem;
  block-size: 25rem;
  background:
    radial-gradient(circle at left top, rgb(104 210 217 / 4%) 0%, rgb(104 210 217 / 0%) 100%),
    radial-gradient(circle at 80% 90%, rgb(123 97 255 / 6%) 0%, rgb(123 97 255 / 0%) 100%);
  box-shadow: var(--shades);
  background-size: 1600% 1600%;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: filter 0.3s ease-in-out;
  animation:
    transform 20s ease-in-out infinite both alternate,
    movement 5s ease-in-out infinite both;
  filter:
    drop-shadow(0 0 20px hsl(token(--color-indigo-40)))
    drop-shadow(0 0 90px hsl(token(--color-indigo-40)));
}

.Video {
  opacity: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: opacity 0.2s ease-in-out;
  mix-blend-mode: color-dodge;
  filter: hue-rotate(283deg) contrast(1.2);
  mask-image: radial-gradient(circle at center, #000 0%, rgb(0 0 0 / 0%) 60%);
  animation: rotate 30s linear infinite both;
}

.Pulse {
  position: absolute;
  background: var(--global-vibrancy-background);
  animation: transform 20s ease-in-out infinite both alternate;
  display: block;
  inset: 0;
}


@keyframes transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }

  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }

  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }

  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }

  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }

  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }

  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}
@keyframes movement {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: translateY(10%) rotateY(10deg);
  }
}
@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
