.ContainerEx {
  background-color: hsl(token(--color-primary-50) / 20%);
  background-size: 8px 8px;
  background-image: radial-gradient(circle, hsl(token(--color-primary-80) / 30%) 1px, rgb(0 0 0 / 0%) 1px);
  background-position: 0 0;
  min-block-size: token(--space-24);
}


.ContainerEx[data-container-dimension='small'] {
  box-shadow:
    inset token(--space-16) 0 0 hsl(token(--color-support-brand) / 60%),
    inset calc(token(--space-16) * -1) 0 0 hsl(token(--color-support-brand) / 60%);
}

@media (min-width: 48em) {
  .ContainerEx[data-container-dimension='small'] {
    box-shadow:
      inset token(--space-32) 0 0 hsl(token(--color-support-brand) / 60%),
      inset calc(token(--space-32) * -1) 0 0 hsl(token(--color-support-brand) / 60%);
  }
}

.ContainerEx[data-container-dimension='medium'] {
  box-shadow:
    inset token(--space-16) 0 0 hsl(token(--color-support-brand) / 60%),
    inset calc(token(--space-16) * -1) 0 0 hsl(token(--color-support-brand) / 60%);
}

@media (min-width: 48em) {
  .ContainerEx[data-container-dimension='medium'] {
    box-shadow:
      inset token(--space-32) 0 0 hsl(token(--color-support-brand) / 60%),
      inset calc(token(--space-32) * -1) 0 0 hsl(token(--color-support-brand) / 60%);
  }
}

.ContainerEx[data-container-dimension='large'] {
  box-shadow:
    inset token(--space-16) 0 0 hsl(token(--color-support-brand) / 60%),
    inset calc(token(--space-16) * -1) 0 0 hsl(token(--color-support-brand) / 60%);
}

@media (min-width: 48em) {
  .ContainerEx[data-container-dimension='large'] {
    box-shadow:
      inset token(--space-32) 0 0 hsl(token(--color-support-brand) / 60%),
      inset calc(token(--space-32) * -1) 0 0 hsl(token(--color-support-brand) / 60%);
  }
}

.ContainerEx[data-container-dimension='full'] {
  box-shadow:
    inset token(--space-16) 0 0 hsl(token(--color-support-brand) / 60%),
    inset calc(token(--space-16) * -1) 0 0 hsl(token(--color-support-brand) / 60%);
}

@media (min-width: 48em) {
  .ContainerEx[data-container-dimension='full'] {
    box-shadow:
      inset token(--space-32) 0 0 hsl(token(--color-support-brand) / 60%),
      inset calc(token(--space-32) * -1) 0 0 hsl(token(--color-support-brand) / 60%);
  }
}

.ContainerEx[data-container-dimension='auto'] {
  box-shadow:
    inset token(--space-24) 0 0 hsl(token(--color-support-brand) / 60%),
    inset calc(token(--space-24) * -1) 0 0 hsl(token(--color-support-brand) / 60%);
}

@media (min-width: 80em) {
  .ContainerEx[data-container-dimension='auto'] {
    box-shadow:
      inset token(--space-32) 0 0 hsl(token(--color-support-brand) / 60%),
      inset calc(token(--space-32) * -1) 0 0 hsl(token(--color-support-brand) / 60%);
  }
}

.ContainerEx[data-container-padding='false'] {
  box-shadow: none;
}

.DivEx {
  background-color: var(--dimmed-1);
}
