name: CI Common

on:
  workflow_call:
    inputs:
      release:
        required: false
        type: boolean
    secrets:
      WF_TOKEN:
        required: true
      NPM_TOKEN:
        required: false
      VERCEL_TOKEN:
        required: false
      VERCEL_ORG_ID:
        required: false
      VERCEL_PROJECT_ID:
        required: false

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14
          scope: "@wonderflow"

      - run: npm i -g npm@8

      - name: Cache Dependencies
        uses: actions/cache@v2
        env:
          cache-name: cache-node-npm
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-

      - name: Install Dependencies
        run: npm install

      - name: Build
        env:
          CMS_ENDPOINT: ${{ secrets.CMS_ENDPOINT }}
          NEXT_PUBLIC_DOMAIN: ${{ secrets.NEXT_PUBLIC_DOMAIN }}
        run: npm run build

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm run test

      - name: Create Release Pull Request or Publish to NPM
        id: changesets
        uses: changesets/action@v1
        if: inputs.release == true
        with:
          version: ./update-lock.sh
          publish: npm run release
          commit: "ci: release"
          title: "ci: release"
        env:
          GITHUB_TOKEN: ${{ secrets.WF_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

  deploy_prev:
    name: Deploy Preview
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && inputs.release == false
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Build pull request on Vercel
        uses: amondnet/vercel-action@v20
        with:
          scope: wanda-ds
          github-token: ${{ secrets.GITHUB_TOKEN }}
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID }}
